<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-center">User Details</h1>
    <div class="text-center" style="padding: 40px;">
        <button (click)="getPosts()" class="btn btn-info" style="margin-left: 10px">
            View</button>
    </div>
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> User Id</th>
                        <th> User Name</th> 
                        <th>Action</th> 
                        </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of posts">
                        <td> {{ i.id }} </td>
                        <td> {{ i.name }} </td>
                        <td>
                            <button (click)="getPosts()" class="btn btn-info" style="margin-left: 10px">
                                View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>